.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-body {
  background-color: #282c34;
  min-height: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

tr {
  height: 5%;
}
.wrapper {
    width:90%;
    text-align:center;
    margin-right:auto;
    margin-left:auto;
    margin-top:1%x;
    background-color: #282c34;
    padding:1%x;
    position: absolute;
    top: 2%;
}

table {
  width: 100%;
  margin: auto;
  border: 1px solid #434c5f;
  table-layout: fixed;
}

.wish-box {
  display: inline-block;
  width: 70%;
  padding: 3%;
  box-sizing: border-box;
  cursor: pointer;
  text-align: right;
}

td {
  overflow: hidden;word-wrap: break-word; text-align: left; vertical-align: top; white-space: nowrap;border: 1px solid #434c5f;
}

.blurry {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  border-radius: 50%;
}
.wish-hidden {
  width: 30%;
  float: right;
  /* animation: roll 17s infinite;
  transform: rotate(1deg); */
}

.wish-opening {
  width: 30%;
  margin: 0 auto;
}

.wish-communicate {
  width: 15%;
  margin: 0 auto;
}

.answer {
  font-size: 70%;
}
@keyframes roll {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.question {
  padding: 3%;
}

p {
  font-size: 80%;
  line-height: 80%;
}

.communicate-text-line {
    animation-name: topFadeOut;
    animation-duration: 8s;
}

@keyframes topFadeOut {
  0% {
    top: -3rem;
    opacity: 0;
  }

  75% {
    top: 25%;
    opacity: 1;
  }
}

.communicate-sentences-section {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
}

.app-button {
  background: transparent;
}

.top-button-left {
  position: absolute;
  top: 0;
  left: 0;
  background: transparent;
}

.top-button-right {
  position: absolute;
  top: 0;
  right: 0;
  background: transparent;
}

.app-body-inner {
  margin-top: 4%;
}